@font-face {
  font-family: ledLight;
  src: url(./fonts/LEDLIGHT.otf);

  font-family: myTupi;
  src: url(./fonts/myTupi.ttf);

  font-family: adLib;
  src: url(./fonts/Adlibitum_Light_TRIAL.ttf);
}

html{

}

body{
  padding: 0;
  margin: 0;
  background-color:#FAA5DD;
}

  nav{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border:solid 3px #9287E4;
    padding: 0px;
    width: 55vw;
  }

  nav a{
      text-decoration: none;
      cursor: pointer;
      color: black;
    }

  nav a:hover{
    color: pink;
  }

  nav a:active{
    color: blue;
  }

  nav ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    background-color: #81E3B2;
    display: flex !important;
    flex-direction: column;
  /* flexbox for parent */
  }

  nav ul li{
    border:solid 1px #82CAFA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 55vw;
  }

  nav ul li:hover{
  background-color: #AA91EB
  }

  nav ul li a{
    font-family: adLib;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 3px;
  }


#banner{
  background: white;
  position: relative;
  left: 0;
  top: 0;
  width: 100vw;

}

  #banner h1 {
    font-family: ledLight;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  h2 {
    font-family: ledLight;
    letter-spacing: 6px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
  }

  #mainArea{
  margin: 60px;
  }

  .soundcloud{
    font-size: 10px;
    color: #cccccc;
    line-break: anywhere;
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;
    : none;
  }

  .soundcloud a{
    color: #cccccc;
    text-decoration: none;
  }

  #mainArea p {
    line-height: 1.2em;
    text-align: justify;
    font-family: myTupi;
    font-size: 0.7em;
  }

  #mainArea section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mainArea img, iframe
  {
    margin: 20px;
    width: auto;
    height: 150px;
    max-width: calc(100vw - 120px);
  }

  #logoArt{
    text-align: center;
    width: 60;
    height: 60;
  }

  #logoArt img{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
  }

  #socialMedia{
    text-align: center;
    }

  #socialMedia p{
    font-family: adLib;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    border:solid 3px #82CAFA;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: #81E3B2;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #socialLinks{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    width: 13vw;
    height: 5vw;
    justify-content: space-between;
  }

  #socialLinks div{
    height: 100%;
    width: 5vw;
    padding: 0px;
    margin: 0px;
  }


  #footer{
      min-height: 20vh;
      padding: 10vw;
      margin: 0;
    }

  #wrap{
    min-height: 80vh;
    margin: 0;
    padding: 0;
  }
